<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Books - BookBank</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Your Books - BookBank</h1>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/books" aria-current="page">Your Books</a></li>
                <li><a href="/requests">Your Requests</a></li>
            </ul>
        </nav>      
    </header>
    <main>
        <section>
            <h2>Your Books</h2>
            <!-- List of the books that the user has added -->
            <div class="book-list"></div>
        </section>
    </main>
</body>
</html>